
* {
    box-sizing:border-box;
    padding: 2px;
    margin: 2px;
}


body {
    background-color: #FDE9D8;
}


.mrg-text {
    padding: 5px;
    font-style: oblique;
    font-family: script;
    color: #f8f3f0;
    text-shadow: 0 0 3px black, 0 0 5px black;

}


.mrg {
    height: 10rem;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("./Images/marigold1.jpg");
    background-size: cover;
    background-position: center;
}

a {
    color: #700640;
    text-decoration: none;
}

p {
    font-size: 30px;
    padding: 20px;
    max-width: 80%;
    color: #702d06;
    ;
}

.About-Me {
    display: flex;
    font-size: 30px;
}

.Work {
    display: flex;
}


.caption {
    color: #cb540d;
}

.footer-text {
    align-items: baseline;
    font-size: 15px;
    color: #cb540d;
    padding: 30px;
    clear: both;
    font-style: oblique;
    text-align: center;
    

}

/* .Contact-Me {
    display: flex;
} */

/* .Resume {
    display: flex;
}

.Resume p {
    justify-content: center;
    font-size: 45px;
    font-weight: bold;
    padding-left: 200px;
    padding-top: 200px;
    flex-wrap: wrap;
} */


/* .Contact-Me ul {
    justify-content: space-between;
    display: flex;
    list-style:none;
    font-size: 45px;
    font-style: oblique;
    padding-left: 200px;
    padding-top: 200px;
    flex-wrap: wrap;
} */


.Resume {
    color: #080108;


/* .side-title {
    padding: 250px;
    border: 4px;
    border-right-color: #0F4C5C;
    border-right-style: solid;
    font-size: 40px;
    font-weight: bold;
    max-width: 60px; */

}

/* 
.Crime-Watch {
    background-image: url("../images/crime.jpg");
    height: 800px;
    width: 1500px;
    background-size: cover;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-size: inherit;
    background-size: initial;
    background-size: revert;
    background-size: unset;
    background-position: center;
    background-size: cover;
    margin: 80px;
}



.Crime-Watch:hover {
    box-shadow:inset 0px 0px 8px
    rgba(95, 15, 64), 0 0 8px
    rgba(95, 15, 64);

}


.Movie-Mates {
    background-image: url("../images/movies.png");
    height: 1000px;
    width: 1000px;
    background-size: cover;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-size: inherit;
    background-size: initial;
    background-size: revert;
    background-size: unset;
    background-position: bottom;
    background-size: cover;
    margin: 20px;
}




.Movie-Mates:hover {
    box-shadow:inset 0px 0px 8px
    rgba(95, 15, 64), 0 0 8px
    rgba(95, 15, 64);

}


.ghost-work3 {
    background-image: url("../images/ghost.jpg");
    height: 600px;
    width: 600px;
    background-size: cover;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-size: inherit;
    background-size: initial;
    background-size: revert;
    background-size: unset;
    background-position: bottom;
    background-size: cover;
    margin: 20px;
}


.ghost-work3:hover {
    box-shadow:inset 0px 0px 8px
    rgba(95, 15, 64), 0 0 8px
    rgba(95, 15, 64);

}


.ghost-work4 {
    background-image: url("../images/ghost.jpg");
    height: 600px;
    width: 600px;
    background-size: cover;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-size: inherit;
    background-size: initial;
    background-size: revert;
    background-size: unset;
    background-position: bottom;
    background-size: cover;
    margin: 20px;
}


.ghost-work4:hover {
    box-shadow:inset 0px 0px 8px
    rgba(232, 252, 365, 1), 0 0 8px
    rgba(232, 252, 365, 1);

}


.Contact-Me.side-title {
    flex-direction: row;
}




.footer {
    padding: 30px;
    clear: both;
    font-style: oblique;
    font-family: cursive;
    text-align: center;
} */
